<div id="preloader">
    <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
    </div>
</div>
<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">  
            <li>
                <a  routerLink="/Admin/dashboard"   class="ai-icon" aria-expanded="false">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text"> dashboard </span>
                </a>
            </li> 
            <li>
                <a  routerLink="/Admin/customer" class="ai-icon" aria-expanded="false">
                    <i class="fa fa-users"></i>
                    <span class="nav-text">Customers</span>
                </a>
            </li> 
            <li>
                <a    routerLink="/Admin/dealer" aria-expanded="false">
                    <i class="flaticon-381-controls-3"></i>
                    <span class="nav-text">Dealers</span>
                </a>
                <!-- <ul  aria-expanded="false">
                    <li><a routerLink="/Admin/user">User</a></li>  
                </ul> -->
            </li>
            <!-- <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="fa fa-industry"></i>
                    <span class="nav-text">Users</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="javascript:void(0)" (click)="view2('vendor-list','all','Total Vendors')">Total Vendor</a></li> 
                    <li><a href="javascript:void(0)" (click)="view2('vendor-list','approved','Total Approved Vendors')">Approved Vendor</a></li> 
                    <li><a href="javascript:void(0)" (click)="view2('vendor-list','pending','Total Pending Vendors')">Pending Vendor</a></li> 
                    <li><a href="javascript:void(0)" (click)="view2('vendor-list','rejected','Total Rejected Vendors')">Rejected Vendor</a></li> 
                </ul>
            </li>  -->
            <li>
                <a class=" " routerLink="/Admin/vehicle" aria-expanded="false">
                    <i class="flaticon-381-settings-2"></i>
                    <span class="nav-text">Vehicle</span>
                </a> 
            </li>    
            
            <li>
                <a routerLink="/Admin/user"   class="ai-icon" aria-expanded="false">
                    <i class="fa fa-user"></i>
                    <span class="nav-text">User</span>
                </a>
            </li> 
        </ul>
        <div class="copyright">
            <p>© 2024 Ariantech. All Rights Reserved</p> 
        </div>
    </div>
</div>

 