<div class="container-fluid">
    <!-- <div class="page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">App</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Profile</a></li>
        </ol>
    </div> -->
    <!-- row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="profile card card-body px-3 pt-3 pb-0">
                <div class="profile-head">
                    <div class="photo-content">
                        <div class="cover-photo"></div>
                    </div>
                    <div class="profile-info">
                        <div class="profile-photo">
                            <img  src="/assets/public/images/profile/profile.png" class="img-fluid rounded-circle" alt="">
                        </div>
                        <div class="profile-details">
                            <div class="profile-name px-3 pt-2">
                                <h4 class="text-primary mb-0">Rahul Taneja</h4>
                                <p>Super Admin </p>
                                <h4 class="text-muted mb-0"> mail </h4>
                                <p>SuperAdmingmail.com</p>
                            </div>
                            <div class="profile-email px-2 pt-2">
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
