<div class="container-fluid">
  <div class="content-body">
    <div class="page-titles">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="javascript:void(0)" style="cursor: auto">Users</a>
        </li>
        <li class="breadcrumb-item active">
          <a
            href="javascript:void(0)"
            style="cursor: auto; font-weight: 700 !important; color: black"
            >Role Master</a
          >
        </li>
      </ol>
    </div>

    <div class="row mb-5 align-items-center">
      <div class="col-xl-2 mb-4 mb-xl-0 mt-10">
        <a
          style="cursor: pointer; color: white !important"
          type="button"
          data-toggle="modal"
          data-target=".bd-example-modal-lg"
          class="btn btn-primary light btn-lg btn-block rounded shadow px-2 buttons"
          ><i class="fa fa-plus mr-1"></i>Add Role</a
        >
      </div>
      <div class="col-xl-2 mb-4 mb-xl-0">
        <div class="media-body ml-1">
          <p class="mb-1 fs-14 text-center">Total Role</p>
          <h3 class="mb-0 text-black font-w600 fs-20 text-center">0</h3>
        </div>
      </div>
    </div>

    <!-- role table -->

    <div class="row">
      <div class="col-lg-12">
        <div class="table-responsive">
          <table
            id="example5"
            class="table display mb-4 table-responsive-xl dataTablesCard fs-14"
          >
            <thead>
              <tr>
                <th>Sr No</th>
                <th>Role Name</th>
                <!-- <th>Yrs Of Mfg</th> -->
                <!-- <th>Vehicle Types</th> -->
                <!-- <th>VIN</th> -->
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <!-- @for (vehicle of vehicleList(); track $index) {
              <tr>
                <td>{{ $index + 1 }}</td>
                <td>{{ vehicle.vehicle_name }}</td>
                <td>{{ vehicle.YOM }}</td>
                <td>{{ vehicle.type }}</td>
                <td>{{ vehicle.VIN }}</td>

                <td class="d-flex">
                  <a
                    href="javascript:void(0);"
                    type="button"
                    data-toggle="modal"
                    data-target=".bd-example-modal-lg"
                    (click)="onEdit(vehicle.vehicle_id)"
                    class="btn btn-primary shadow btn-xs sharp mr-1"
                    ><i class="fa fa-pencil"></i
                  ></a>
                  <a
                    href="javascript:void(0);"
                    type="button"
                    class="btn btn-primary mb-2" 
                    class="btn btn-danger shadow btn-xs sharp"
                    (click)="openModals()"
                    (click)="selectVehicleForDeletion(vehicle)"
                    ><i class="fa fa-trash"></i
                  ></a>
                   
                  <div
                    class="modal fade bd-example-modal-sm"
                    tabindex="-1"
                    role="dialog"
                    aria-hidden="true"
                  >
                    <div class="modal fade bd-example-modal-sm"
                    tabindex="-1"
                    role="dialog"
                    aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                        <div
                          class="modal-header text-center"
                          style="margin-inline: auto"
                        >
                          <h5 class="modal-title text-center">
                            Delete Vehicle
                          </h5>
                        </div>
                        <div class="modal-body">HEY ARE YOU Sure..!</div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn   btn-outline-primary"
                            data-dismiss="modal"
                          >
                            cancel
                          </button>
                          <button
                            type="button"
                            class="btn  btn-outline-danger"
                            data-dismiss="modal"
                            (click)="deleteVehicleId()"
                          >
                            Delete
                          </button>
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              } -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal -->

<div
  class="modal fade bd-example-modal-lg custom-modal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          style="align-items: center; margin-inline: auto"
        >
          Role modal
        </h5>
            
      </div>
      <div class="modal-footer">
        <ng-container>
          <button
            type="button"
            class="btn btn-outline-primary" 
            data-dismiss="modal"
          >
            save
          </button>
        </ng-container>

        <ng-template #saveButton>
          <button
            type="button"
            data-dismiss="modal"
            class="btn btn-outline-primary"
           
          >
            Save
          </button>
        </ng-template>
        <button
          type="button"
          class="btn btn-outline-danger"
           
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
